* {
    box-sizing: border-box;
}

body {
    background-color: #eeeeff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p, h1 {
    margin: 0;
}

.question {
    margin: 1rem 0;
}

header {
    margin: 2rem 0 1rem 0;
}

header p {
    font-size: 2.25rem;
    font-weight: bold;
    text-align: center;
}

main {
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.dict-select {
    width: fit-content;
    margin: auto;
}

.dict-select-prompt {
    font-size: 1.125rem;
    padding: 0.5rem 0;
}

#dict-input {
    font-size: 1.125rem;
}

#dict-input::file-selector-button,
#dict-confirm-btn {
    border: 1px solid gray;
    border-radius: 0.625rem;
    font-size: 1.125rem;
    padding: 0.625rem 2rem;
}

#dict-input::file-selector-button {
    margin-right: 0.625rem;
}

#dict-input::file-selector-button:hover,
#dict-confirm-btn:hover,
#settings-btn:hover,
#settings-confirm-btn:hover {
    background-color: #e6e6e6;
    transform: 0.1s;
    cursor: pointer;
}

.dict-select-instructions {
    margin-top: 1rem;
    font-size: 1rem;
}

.dict-select-instructions p,
.dict-select-instructions li {
    margin-top: 0.5rem;
}

.quiz {
    text-align: center;
    display: none;
    margin-bottom: 2rem;
}

#word {
    font-size: 3.75rem;
    margin: 2rem 0;
}

.choices {
    display: flex;
}

.choice-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 12%;
}

.choices button,
#next-btn {
    border: 1px solid gray;
    padding: 1.25rem;
    font-size: 2.125rem;
    border-radius: 1.25rem;
}

.choices button {
    cursor: pointer;
}

#yes-btn:hover {
    background-color: #c0e0c0;
    transition: 0.1s;
}

#no-btn:hover {
    background-color: #e0c0c0;
    transition: 0.1s;
}

.judge {
    margin: 2rem 0;
    font-size: 1.25rem;
}

#judge-definition {
    margin-top: 1rem;
}

.next {
    text-align: center;
}

#next-btn {
    padding: 1.25rem 6rem;
}

#next-btn:hover {
    background-color: #e0e0e0;
    transition: 0.1s;
    cursor: pointer;
}

#next-btn:disabled:hover,
#yes-btn:disabled:hover,
#no-btn:disabled:hover {
    cursor: default;
    background-color: #e0e0e0;
}

.settings-stats {
    margin: 0 1rem;
    display: none;  /* will be set to flex */
    flex-direction: row;
    justify-content: space-between;
}

.settings {
    flex: auto;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
}

#settings-btn {
    border: 1px solid gray;
    border-radius: 0.625rem;
    font-size: 1.125rem;
    padding: 0.625rem 1.25rem;
    width: 10rem;
}

#settings-menu {
    padding: 0.625rem;
    font-size: 1rem;
    display: none;
    flex: 1;
}

.settings-element {
    margin-bottom: 0.5rem;
}

#settings-confirm-btn {
    margin-top: 0.25rem;
    padding: 0.25rem 1rem;
    border: 1px solid gray; 
    border-radius: 0.5rem;
}

.phoney-mode-fieldset {
    width: 20rem;
}

.stats-table {
    margin-right: 1.25rem;
    border-collapse: collapse;
}

.stats-table,
.stats-table th,
.stats-table td {
    border: 1px solid;
    font-size: 1.125rem;
}

.stats-table th {
    padding: 0.4rem;
}

.stats-table td {
    text-align: center;
}

#total-correct {
    color: green;
    border-color: black;
}

#total-incorrect {
    color: red;
    border-color: black;
}

footer {
    background-color: #e0e0f0;
    margin-top: auto;
    font-size: 1rem;
    text-align: center;
    padding: 1.25rem 0px;
}

footer a {
    text-decoration: none;
}
